[Unit]
Description=OctoPrint Timelapse Sync
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/octoprint-timelapse-sync
StateDirectory=octoprint-timelapse
RuntimeDirectory=octoprint-timelapse
StandardOutput=journal
StandardError=journal
